@model Scently.Models.SanPham

@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper Downline(string input)
{

    if (input == null)
    {
        @input
    }
    else
    {
        for (int i = 0; i < input.Length; i++)
        {
            if (input[i] == '.')
            {
                @input[i]
                <br />
            }
            else
            {
                @input[i]
            }
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/css/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <h1 style="font-weight:bold !important; font-size:40px;color:black; text-align:center;">CHI TIẾT SẢN PHẨM</h1>
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0" src="@Model.hinhAnhSP" alt="..." />
                </div>
                <div class="col-md-6">
                    <div style="font-size:30px;" class="small mb-1">Mã SP: @Model.idSP</div>
                    <h1 class="display-5 fw-bolder">@Model.tenSP</h1>
                    <div class="fs-5 mb-5">
                        <span >@Model.giaSP VNĐ </span>
                          <p class="lead">@Downline(Model.thongTinSP)</p>
                    </div>                 
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                        <a href="/ShoppingCart/AddToCart/@Model.idSP">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Thêm vào giỏ
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        body {
            background-image: none !important;
            background-color: white !important;
        }
        .bg-opacity-75 {
            --bs-bg-opacity: 0.90 !important;
        }
    </style>
</body>

</html>

