@model IEnumerable<Scently.Models.SanPham>


@{
    ViewBag.Title = "QLProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="xxxxxxxxxxxxxxxxxxxxxxx" crossorigin="anonymous" />
    <style>
        #btn {
            width:65px;
            margin-bottom:5px;
        }
    </style>
</head>



<h2 style="text-align:center; margin-top:50px;">Quản lý sản phẩm</h2>
<div style=" text-align: right; ">
    <a href="@Url.Action("Create")"><button type="button" class="btn btn-info ">Thêm sản phẩm mới</button></a>
</div>
<table style="margin-top: 70px;" class="table">
    <tr>
        <th> Mã loại </th>
        <th> Tên sản phẩm</th>
        <th> Hình </th>
        <th> Giá bán</th>
        <th> Ngày cập nhật </th>
        <th> Số lượng tồn</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.idSP)</td>
            <td>@Html.DisplayFor(modelItem => item.tenSP)</td>
            <td><img style="width :300px;" src="@item.hinhAnhSP" alt="hinh thumbnail" /></td>
            <td>@Html.DisplayFor(modelItem => item.giaSP)</td>
            <td>@Html.DisplayFor(modelItem => item.ngayCapNhat)</td>
            <td>@Html.DisplayFor(modelItem => item.soLuongSP)</td>
            <td>
                <a href="@Url.Action("Edit","Product", new { id = item.idSP })"><button id="btn" type="button"  class="btn btn-outline-success btn-sm">Sửa</button></a> <br />
                <a href="@Url.Action("Details","Product", new { id = item.idSP })"><button id="btn" type="button" class="btn btn-outline-success btn-sm">Chi tiết</button></a><br />
                <a href="@Url.Action("Delete","Product", new { id = item.idSP })"><button id="btn" type="button" class="btn btn-outline-success btn-sm">Xoá</button></a>
                
            </td>
        </tr>
    }
</table>